{% extends "layout.html" %}

{% block title %}
    My Flights
{% endblock %}

{% block main %}
    {% if flights|length == 0 %}
    <div class="page-container">
        <div class="image-background-container"></div>
        <div class="info-container">
            <a href="{{ url_for('views.search_flights') }}" class="btn btn-primary btn-lg">
                Start Tracking Flights
            </a>
        </div>
    </div>
    {% else %}
        <h1>My Flights</h1>
        <br>
        <br>
        <a href="{{ url_for('views.saved_results') }}">Check Last Results</a>
            <table>
                <thead>
                    <tr>
                        <th>Airline</th>
                        <th>Flight Number</th>
                        <th>Departure</th>
                        <th>Destination</th>
                        <th>Date</th>
                        <th>Hours</th>
                        <th>Duration</th>
                        <th>Price</th>
                        <th>Available Seats</th>
                        <th>Checked At </th>
                        <!--<th>Book Flight</th>-->
                        <th>Update Flight</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}
                    <tr>
                        <td><a href="{{ flight.url }}" target="_blank">{{ flight.airline }}</a></td>
                        <td>{{ flight.carrier_code}} {{flight.flight_number}}</td>
                        <td>{{ flight.departure }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.departure_date }}</td>
                        <td>{{ flight.departure_arrival_time }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ flight.price }}</td>
                        <td>{{ flight.bookable_seats}}</td>
                        <td>{{ flight.last_checked.strftime('%Y-%m-%d %H:%M') }}</td>
                        <!--<td><a href="{{ flight.url }}" target="_blank">Book It</a></td> -->
                        <td>                            
                            <form action="{{ url_for('views.update_flight') }}" method="POST">
                                <input type="hidden" name="carrier_code" value="{{ flight.carrier_code }}">
                                <input type="hidden" name="flight_number" value="{{ flight.flight_number }}">
                                <input type="hidden" name="departure_iata" value="{{ flight.departure_iata }}">
                                <input type="hidden" name="destination_iata" value="{{ flight.destination_iata }}">
                                <input type="hidden" name="departure_date" value="{{ flight.departure_date }}">
                                <input type="hidden" name="adults" value="{{ flight.adults }}">
                                <button type="submit" title="Update flight" class="icon-buttons" style="background:none; border:none;">
                                    <i class="fa-solid fa-sync"></i>
                                </button>
                            </form></td>
                        <td>
                            <form action="{{ url_for('views.delete_flight') }}" method="POST">
                                <input type="hidden" name="carrier_code" value="{{ flight.carrier_code }}">
                                <input type="hidden" name="flight_number" value="{{ flight.flight_number }}">
                                <button type="submit" title="Delete flight" class="icon-buttons" style="background:none; border:none;">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}
