{% extends "layout.html" %}

{% block title %}
    My Portfolio
{% endblock %}

{% block main %}
    <div class="container">
        <h2>My Portfolio</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Ammount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!--{% for row in stock %}
                <tr>
                    <td>{{ row.name }}</td>
                </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Balance:</h2>
        <h2>Total:</h2>
        <br>
        <br>
    </div>
{% endblock %}
