{% extends "layout.html" %}

{% block title %}
    Flight Search
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/awesomplete.css">
{% endblock %}

{% block main %}
    <div class="page-container">
        <div class="image-background-container"></div>
        <div class="info-container">
            <form action="/search" method="post" id="search-form">
                <div class="row gx-4 align-items-center mb-4 align-items-center justify-content-center">
                        <label class="form-check-label mb-0"  for="adults" >Adults</label>
                        <!-- Code snippet created with ChatGPT-->
                        <div class="input-group" style="max-width: 110px;">
                            <button type="button" class="btn btn-outline-secondary btn-sm" id="decrease-adults">−</button>
                            <input type="text" id="adults" name="adults" class="form-control text-center" style="padding: 0;" value="1" maxlength="2" size="2" readonly />
                            <button type="button" class="btn btn-outline-secondary btn-sm" id="increase-adults">+</button>
                        </div>
                </div>
                <div class="row gx-4 align-items-center mb-4 justify-content-center">
                    <label class="form-check-label mb-0"  for="departure" >From</label>
                    <div col>
                        <input id="departure" name="departure" class="form-control text-center" style="width: 500px;" placeholder="Departure" />
                    </div>
                </div>
                <div class="row gx-2 align-items-center mb-4 justify-content-center">
                    <label class="form-check-label mb-0"  for="destination" >To</label>
                    <div col>
                        <input id="destination" name="destination" class="form-control text-center" style="width: 500px;" placeholder="Destination" />
                    </div>
                </div>
                <div class="row gx-4 align-items-center mb-4 justify-content-center">
                    <!--<div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="is_date_range" name="is_date_range">
                            <label class="form-check-label" for="is_date_range">Track Date Range</label>
                        </div>
                    </div>-->
                    <div class="col-md-3" id="single-date-container">
                        <small id="date-error" class="text-danger d-none"></small>
                        <label class="form-check-label mb-0"  for="departure_date" >Departure Day</label>
                        <input type="text" class="form-control text-center" id="departure_date" name="departure_date" placeholder="Select Date">
                    </div>
                    <!--<div class="col-md-5" id="range-date-container">
                        <input type="text" class="form-control" id="departure_range" name="departure_range" placeholder="Select Date Range">
                    </div>-->
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 200px;">Search</button>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/awesomplete@1.1.5/awesomplete.min.js"></script>
  <!-- <script src="/static/js/awesomplete.js"></script> -->
  <script id="airport-list" type="application/json">{{ airport_list | tojson | safe }}</script>
  <script src="/static/js/main.js" defer></script>
{% endblock %}
