{% extends "layout.html" %}

{% block title %}
    Flight Search
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/awesomplete.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.css">
{% endblock %}

{% block main %}
<form action="/search" method="post" id="search-form">
    <div id="form-container">
        <div class="row gx-2 align-items-center mb-3">
            <div class="col-md-3">
                <input id="departure" name="departure" class="form-control" placeholder="Departure" />
            </div>
            <div class="col-md-3">
                <input id="destination" name="destination" class="form-control" placeholder="Destination" />
            </div>
        </div>
        <div class="row gx-2 align-items-center mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="only_direct" name="only_direct">
                    <label class="form-check-label" for="only_direct">Only Direct Flights</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="is_date_range">
                    <label class="form-check-label" for="is_date_range">Track Date Range</label>
                </div>
            </div>
            <div class="col-md-3" id="single-date-container">
                <small id="date-error" class="text-danger d-none"></small>
                <input type="text" class="form-control" id="departure_date" name="departure_date" placeholder="Departure Day">
            </div>
            <div class="col-md-3 d-none" id="range-date-container">
                <small id="date-error" class="text-danger d-none"></small>
                <input type="text" class="form-control" id="departure_range" name="departure_range" placeholder="Select Date Range">
            </div>
        </div>

        <div class="w-100 h-200"></div>
        <!--<button type="submit" class="btn btn-primary">Search</button>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

    </form>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>

  <script src="/static/js/awesomplete.js"></script>
  <script id="airport-list" type="application/json">{{ airport_list | tojson | safe }}</script>
  <script src="/static/js/main.js" defer></script>
{% endblock %}
